/* !NAV */

.navbar-nav {
	display: inline-block;
	font-size: 1rem;
	text-align: left;
	vertical-align: middle;
	z-index: 10;
	&__item {
		font-size: 1rem;
		display: inline-block;
		>a {
			display: inline-block;
			font-size: .8em;
			font-weight: 500;
			// text-transform: uppercase;
		}   
	} 
}