/* !RADIO BUTTONS */

.radio-buttons {
    float: left;
	// margin: 0rem;
	max-width: 600px;
	width: 90%;
	//container-justified
	font-size: 0;
	text-align: justify;
	text-justify: distribute-all-lines;
	&:after{
		content: '';
	  	display: inline-block;
	  	font-size:0;
	  	height: 0;  	
		line-height:0;
	  	width: 100%;  	
	}
	>.radio-button {
		display: inline-block;
		// font-size: 1rem;
		// vertical-align: top;
	}
}

label {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    vertical-align: middle;    
}

input[type=radio] {
    display: none;
}

label:before {
	border-radius: 50%;
    content: "";
    display: inline-block;
 
    width: 25px;
    height: 25px;
    margin-right: 7px;
    // position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    vertical-align: middle;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}