/* !TITLE */

.title {
	color: #56C8EA;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: .5em;
}

.ui-title {
	color: #fff;
	font-size: .9rem;
	display: inline-block;
	float: left;
	margin: 0 10% 0 0;
	text-align: left;
	text-decoration: underline;
	width: 20%;
}
